body {
    background-color: lightblue;
}
nav {
    background-color: white;
    height: 40px;
    padding: 10px;
}
button {
    color: black;
}
.container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    text-align: center; 
    height: 100vh; 
    flex-wrap: nowrap; 
}

.headshot {
    flex: 0 1 auto; 
    order: 2;
}

.designer-group, .software-engineer-group {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    order: 1; 
}

.software-engineer-group {
    order: 3; 
}
a button, button#myBtn {
    background-color: #007bff;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    height: 40px;
}

a button:hover, button#myBtn:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
    box-shadow: 0 3px 6px rgba(0,0,0,0.3); 
}




.headshot img {
    max-width: 100%; 
    height: 700px; 
    border: 4px solid black;
    border-radius: 50%;
}

.designer, .software-engineer {
    margin-bottom: 10px; 
    font-size: 48px;
}
.designer-text, .software-engineer-text {
    font-size: 24px;
}

#myModal {
    background-color: rgb(211, 194, 173);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid black;
    width: 200px;
    height: 105px;
    display: none;
}

.close {
    cursor: pointer;
}

.insta-button {
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: plum;
    float: right;
    margin-left: 10px;
}
.linkedin-button {
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: blue;
    float: right;
}
.github-button {
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: purple;
    float: right;
    margin-right: 10px;
}
.facebook-button {
    background-color: #4267B2;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
    margin-right: 10px;
}

