:root {
	--box-size: 100px;
}
body {
    background-color: aqua;
}

html,body {
    height: 100%;
    width: 100%;
}

.header {
    font-family: 'Abril Fatface', serif;
    font-size: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.player {
    font-size: 60px;
    background-color: white;
    width: 17.5%;
    border: 3px solid black;
    border-radius: 12px;
}

#board {
	
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
    font-size: 100px;
    font-family: 'DM Sans', sans-serif;
    
}
.box {
	width: var(--box-size);
	height: var(--box-size);
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
    background-color: black;
    color: white;
}

#restartButton {
    margin-left: 795px;
    cursor: pointer;
    margin-top: 40px;
    width: 120px;
    height: 60px;
    font-size: 22px;
}

button {
    cursor: pointer;
    height: 30px;
    
}

nav {
    margin-top: 10px;
    
}