.resume-button {
    a {
    font-size: 32px;
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    }
}

p {
    font-size: 26px;
}

body {
    background-image: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3508.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

nav a button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav a button:hover {
    background-color: #0056b3;
}

